@{
    ViewBag.Title = "Aplikacja";
}

<div ng-app="TSPApp" class="fill">
    <div class="row fill">
        <div class="col-md-4">
            <div class="panel panel-default" ng-controller="TargetsController" ng-init="getTargets()">
                <div class="panel-heading">Przesyłki</div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li ng-repeat="target in targets" class="list-group-item">
                            <strong class="list-group-item-heading">{{target.name}}</strong>
                            <a href="#" class="pull-right"><i class="glyphicon glyphicon-remove"></i></a>
                            <p class="list-group-item-text">
                                {{target.location.latitude}}, {{target.location.longitude}}
                            </p>
                        </li>
                    </ul>
                    <form class="form-inline" ng-submit="addTarget()">
                        <div class="form-group">
                            <div class="input-group">
                                <input id="location-input" type="text" ng-model="location" class="form-control" placeholder="Lokalizacja">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Dodaj</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8 fill">
            <div id="map" class="fill"></div>
        </div>

    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/app/targets-controller.js")
    @Scripts.Render("~/Scripts/app/map.js")
    @Scripts.Render("https://maps.googleapis.com/maps/api/js?callback=initMap&libraries=places&key=" + System.Web.Configuration.WebConfigurationManager.AppSettings["GoogleMapsApiKey"])
}