@{
    ViewBag.Title = "Aplikacja";
}

<div ng-app="TSPApp" class="fill">
    <div class="row fill" ng-controller="TargetsController">
        <div class="col-md-4">
            <div class="panel panel-default" ng-init="getTargets()">
                <div class="panel-heading">Przesyłki</div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li ng-repeat="target in targets" class="list-group-item">
                            <strong class="list-group-item-heading">{{target.name}}</strong>
                            <a href="#" class="pull-right" ng-click="deleteTarget(target)"><i class="glyphicon glyphicon-remove"></i></a>
                            <p class="list-group-item-text">
                                <small>{{target.location.latitude}}, {{target.location.longitude}}</small>
                            </p>
                        </li>
                    </ul>
                    <form class="form-inline" ng-submit="addTarget()">
                        <div class="form-group">
                            <div class="input-group">
                                <input id="location-input" type="text" ng-model="location" class="form-control" placeholder="Lokalizacja">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Dodaj</button>
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Trasa</div>
                <div class="panel-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" ng-style="{width : ( routingProgress + '%' ) }" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    <button class="btn btn-primary pull-right" type="button" ng-click="findRoute()" ng-disabled="routingProgress==50">Znajdź trasę</button>
                    <ol class="list-group">
                        <li ng-repeat="target in route.route" class="list-group-item">
                            {{$index+1}}. <strong class="list-group-item-heading">{{target.name}}</strong>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-md-8 fill">
            <ng-map center="[50.061820, 19.936709]" class="fill" on-click="addTargetOnMap()">
                <marker ng-repeat="target in targets"
                        position="{{target.location.latitude}},{{target.location.longitude}}"
                        title="{{target.name}}">
                </marker>
                <shape name="polyline"
                       path="{{route.path}}"
                       geodesic="true"
                       stroke-color="#FF0000"
                       stroke-opacity="1.0"
                       stroke-weight="2">
                </shape>
            </ng-map>
        </div>

    </div>
</div>

@section scripts {
    @Scripts.Render("https://maps.googleapis.com/maps/api/js?libraries=places&key=" + System.Web.Configuration.WebConfigurationManager.AppSettings["GoogleMapsApiKey"])
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/ng-map.min.js")
    @Scripts.Render("~/Scripts/app/targets-controller.js")
}